header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.4rem 2.4rem 2rem;

    position: relative;

    .hamburger-logo-group{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        .hamburger{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            cursor: pointer;

            .line{
                background-color: $dark-grayis-blue;
                width: 1.5rem;
                height: 0.3rem;
            }
        }

        .menu{
            background-color: $black;
            position: fixed;
            top:0;
            left:0;
            right: 0;
            height: 100vh;
            z-index: 10;

            .slide-menu{
                background-color: $white;
                height: 100%;
                width: 65vw;
                padding: 2.3rem;

                img{
                    transition: transform 0.5s ease;
                    &:hover{
                        cursor: pointer;
                        transform: rotate(90deg);
                    }
                }

                ul{
                    margin-top: 3rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    list-style: none;

                    display: flex;
                    flex-direction: column;
                    gap: 2.3rem;

                    a, :active, :visited{
                        color: $very-vark-blue;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

        .hidden{
            display: none;
        }
    }

    .cart-avatar-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .btnCart{
        cursor: pointer;
        position: relative;

        .cart-count{
            position: absolute;
            top: -25%;
            right: -25%;

            background-color: $primary;
            color: white;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.1rem 0.6rem;
            border-radius: 1rem;
            line-height: 100%;
        }
    }

    .avatar{
        width: 3rem;
        cursor: pointer;

        border: 2px solid transparent;

        &:hover{
            border: 2px solid $primary;
            border-radius: 50%;
        }
    }

    .cart{
        position: absolute;
        right: 1rem;
        top: calc(calc(100%) + 1rem);
        width: 35.5rem; //1rem 35.5rem + 1rem --> 375px
        z-index: 1;
        background-color: white;
        border-radius: 1rem;

        box-shadow: 0 1rem 1rem 1rem rgba(0,0,0,0.1), 0 1rem 2rem 1rem rgba(0,0,0,0.1);

        .cart-header{
            border-bottom: 1px solid $grayish-blue;
            padding: 2.4rem 2rem;
            font-size: 1.8rem;
            font-weight: 700;
        }
    
        .products-in-cart{
            .item{
                margin: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .product-img{
                    width: 5rem;
                    border-radius: 0.5rem;
                }

                .details{
                    color: $dark-grayis-blue;
                    font-size: 1.6rem;
                    line-height: 2.6rem;

                    .price-group{
                        display: flex;
                        gap: 0.6rem;

                        .total-amount{
                            color: black;
                            font-size: 1.7rem;
                            font-weight: 700;
                        }
                    }
                }

                #btnDelete{
                    padding: 0.5rem;
                    border-radius: 0.5rem;

                    &:hover{
                        cursor: pointer;
                        background-color: $secondary;
                    }
                }
            }
        }

        .msg-empty{
            color: $dark-grayis-blue;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 7.8rem 0;
        }

        .checkout{
            background-color: $primary;
            color: white;

            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;

            margin: 2.4rem;

            padding: 1.8rem;
            border-radius: 1rem;
            cursor: pointer;
        }

        .hidden{
            display: none
        }
    }

    .hidden{
        display: none;
    }
}